.mob_header {
  display: none;
}

.header {
  display: flex;
}

.header_nav {
  margin: 0 auto;
  display: flex;
  height: 80px;
  width: 1100px;
  min-width: 720px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  list-style: none;
  align-items: center;
}

.header_list_item {
  margin: 0 0 0 24px;
  color: var(--Dark-Grayish-Violet);
  letter-spacing: 1px;
  cursor: pointer;
}

.header_list_item:hover {
  color: var(--Very-Dark-Violet);
}

.header_button {
  margin: 0 0 0 24px;
  height: 40px;
  width: 146px;
  color: var(--Very-Dark-Violet);
  background-color: var(--Very-Light-Gray);
  border: solid 1.5px var(--Very-Dark-Violet);
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.header_button:hover {
  color: var(--Very-Light-Gray);
  background-color: var(--Very-Dark-Violet);
}

.mob_ornament_left,
.mob_ornament_right {
  display: none;
}

.hero_container {
  background-color: var(--Dark-Violet);
  display: flex;
  height: 600px;
  position: relative;
}

.ornament_left,
.ornament_right {
  display: block;
  position: absolute;
}

.ornament_left {
  bottom: -300px;
  left: 0;
}

.ornament_right {
  top: 0;
  right: 0;
  z-index: 8;
  width: 360px;
}

.hero {
  display: flex;
  margin: 0 auto;
  width: 1100px;
}

.hero_description {
  order: 1;
  width: 540px;
  margin: 105px 0 0 0;
  padding: 0 0;
}

.line {
  display: block;
  width: 150px;
  height: 1px;
  background-color: var(--Very-Light-Gray);
}

.hero_title {
  text-align: left;
  font-size: 3.4rem;
  margin: 63px 0 0 0;
}

.hero_text {
  text-align: left;
  margin: 16px 0 0 0;
}

.hero_button {
  margin: 32px 0 0 0;
}

.hero_img {
  order: 2;
  margin-top: 105px;
  margin-left: 18px;
  width: 540px;
  height: 650px;
}

.features {
  margin: 305px auto 0;
  min-width: 1100px;
  width: 1100px;
  text-align: left;
}

.features_line {
  margin: 0;
}

.features_title {
  font-size: 4rem;
}

.features_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features_cards .feature_card {
  min-width: 320px;
  width: 350px;
  max-width: 350px;
}

.feature_card .feature_card_title {
  font-size: 1.6rem;
}

.feature_card .feature_card_text {
  font-size: 1rem;
}
