:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Headings: "DM Serif Display";
  --Text: "Karla";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-Light-Gray);
  font-family: var(--Text);
}

.header {
  display: none;
}

.mob_header {
  padding: 24px;
}

.mob_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob_tab_container {
}

.mob_tab_container .mob_close {
  display: none;
  cursor: pointer;
}

.mob_tab_container .mob_hamburger {
  cursor: pointer;
}

.mob_modal {
  display: none;
  position: absolute;
  z-index: 9;
  padding: 40px 24px;
  height: 90vh;
  width: 100%;
  text-align: center;
  background-color: var(--Very-Dark-Violet);
  color: var(--Very-Light-Gray);
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: 440px;
  background-position: bottom right;
}

.mob_modal .mob_modal_list {
  list-style: none;
}

.mob_modal_list .mob_modal_list_item {
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 4px;
}

.mob_modal .mob_modal_button {
  width: 328px;
  height: 56px;
  margin: 24px 0 0 0;
  min-width: 300px;
  max-width: 356px;
  background: none;
  border: solid 2px var(--Very-Light-Gray);
  font-size: 1rem;
  letter-spacing: 4px;
  color: var(--Very-Light-Gray);
  cursor: pointer;
  outline: none;
}

.hero_container {
  background-color: var(--Dark-Violet);
}

.hero {
  color: var(--Very-Light-Gray);
  position: relative;
}

.line {
  display: none;
}

.ornament_left,
.ornament_right {
  display: none;
}

.hero_img img {
  width: 100%;
}

.hero_description {
  display: flex;
  flex-direction: column;
  padding: 94px 24px;
  position: relative;
}

.hero_title {
  max-width: 100%;
  font-family: var(--Headings);
  font-size: 3.2rem;
  text-align: center;
}

.hero_text {
  margin: 16px auto 0;
  font-family: var(--Text);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
  max-width: 85%;
}

.hero_button {
  margin: 32px auto 0;
  height: 40px;
  width: 146px;
  color: var(--Very-Light-Gray);
  border: solid 1.5px var(--Very-Light-Gray);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}

.mob_ornament_left {
  position: absolute;
  left: 0;
  top: -4px;
}

.mob_ornament_right {
  position: absolute;
  bottom: -160px;
  right: 0;
}

.features {
  margin: 140px auto 0;
  width: 327px;
  max-width: 327px;
  text-align: center;
}

.features_line {
  width: 150px;
  height: 1px;
  background-color: var(--Very-Dark-Violet);
  margin: 0 auto;
}

.features_title {
  margin: 40px 0 0 0;
  font-family: var(--Headings);
  font-size: 2.6rem;
}

.features_cards {
  margin: 80px 0 0 0;
}

.feature_card {
  margin: 56px 0 0 0;
}

.feature_card .feature_card_title {
  margin: 32px 0 0 0;
  font-family: var(--Headings);
  font-size: 1.6rem;
  color: var(--Very-Dark-Violet);
}

.feature_card .feature_card_text {
  margin: 16px 0 0 0;
  color: var(--Dark-Grayish-Violet);
  line-height: 1.6rem;
}

.cta {
  padding: 72px 24px;
  margin: 140px auto 0;
  width: 327px;
  min-width: 320px;
  max-width: 327px;
  background-color: var(--Dark-Violet);
  text-align: center;
  color: var(--Very-Light-Gray);
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 180px;
}

.cta_title {
  font-family: var(--Headings);
  font-size: 3.2rem;
}

.cta_button {
  width: 160px;
  height: 40px;
  margin: 40px 0 0 0;
  background-color: transparent;
  border: solid 1.5px var(--Very-Light-Gray);
  color: var(--Very-Light-Gray);
  letter-spacing: 1px;
  cursor: pointer;
}

.cta_button:hover {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Violet);
  font-weight: 700;
}
